@model DotPonto.Models.Empresas

@{
    ViewData["Title"] = "Detelhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Empresas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEndNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEndNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEndBairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEndBairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEndCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEndCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEndUF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEndUF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEndCEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEndCEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNAE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNAE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InscricaoMunicipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InscricaoMunicipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InscricaoEstadual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InscricaoEstadual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-link">Voltar</a>
</div>
