@model IEnumerable<DotPonto.Models.Filiais>

@{
    ViewData["Title"] = "Filiais";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEndNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEndBairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEndCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEndUF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEndCEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNAE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoMunicipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoEstadual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEndNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEndBairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEndCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEndUF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEndCEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNAE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoMunicipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoEstadual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresas.RazaoSocial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
